  .title {
      text-align: "center";
  }

  .root {
      display: "flex";
      flex-wrap: "wrap";
      flex-direction: "column";
      justify-content: "space-around";
  }

  .gridList {
      display: "flex";
      flex-wrap: "nowrap";
      flex-direction: "row";
      overflow-x: "auto";
  }

  .row {
      display: "flex";
      flex-wrap: "wrap";
      justify-content: "space-around";
  }

  .gridTitle {
      text-decoration: "underline";
  }

  .gridItem {
      padding: "0 3em";
  }

  .titleStyle {
      color: "rgb(0; 188; 212)";
  }